apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: self-healing-platform
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    argocd.argoproj.io/instance: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/sansow/openshift-aiops-platform.git
    targetRevision: main
    path: charts/hub
    helm:
      releaseName: self-healing-platform
      valueFiles:
        - values-global.yaml
        - values-hub.yaml
        - values-notebooks-validation.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: self-healing-platform
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - Validate=false
      - RespectIgnoreDifferences=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        maxDuration: 3m
        factor: 2
