---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-mlops-mlops-dev-v1alpha1-notebookvalidationjob
  failurePolicy: Fail
  name: mnotebookvalidationjob.kb.io
  rules:
  - apiGroups:
    - mlops.mlops.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - notebookvalidationjobs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-mlops-mlops-dev-v1alpha1-notebookvalidationjob
  failurePolicy: Fail
  name: vnotebookvalidationjob.kb.io
  rules:
  - apiGroups:
    - mlops.mlops.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - notebookvalidationjobs
  sideEffects: None
