apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: controller
    newName: quay.io/takinosh/jupyter-notebook-validator-operator
    newTag: 1.0.8-ocp4.19
