# permissions for end users to view notebookvalidationjobs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: jupyter-notebook-validator-operator
    app.kubernetes.io/managed-by: kustomize
  name: notebookvalidationjob-viewer-role
rules:
- apiGroups:
  - mlops.mlops.dev
  resources:
  - notebookvalidationjobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - mlops.mlops.dev
  resources:
  - notebookvalidationjobs/status
  verbs:
  - get
