apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: anomaly-detector
  labels:
    app.kubernetes.io/component: model-serving
  annotations:
    serving.kserve.io/deploymentMode: "Serverless"
    autoscaling.knative.dev/minScale: "0"
    autoscaling.knative.dev/maxScale: "10"
    autoscaling.knative.dev/target: "10"
spec:
  predictor:
    serviceAccountName: self-healing-operator
    sklearn:
      storageUri: "s3://model-storage/anomaly-detector/"
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
        limits:
          cpu: "2"
          memory: "4Gi"
      env:
      - name: STORAGE_URI
        value: "s3://model-storage/anomaly-detector/"
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_ACCESS_KEY_ID
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_SECRET_ACCESS_KEY
      - name: AWS_S3_ENDPOINT
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_S3_ENDPOINT
      - name: AWS_DEFAULT_REGION
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_DEFAULT_REGION
      - name: AWS_SSL_VERIFY
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_SSL_VERIFY
---
apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: predictive-analytics
  labels:
    app.kubernetes.io/component: model-serving
  annotations:
    serving.kserve.io/deploymentMode: "Serverless"
    autoscaling.knative.dev/minScale: "0"
    autoscaling.knative.dev/maxScale: "5"
    autoscaling.knative.dev/target: "5"
spec:
  predictor:
    serviceAccountName: self-healing-operator
    sklearn:
      storageUri: "s3://model-storage/predictive-analytics/"
      resources:
        requests:
          cpu: "1"
          memory: "2Gi"
        limits:
          cpu: "2"
          memory: "4Gi"
          nvidia.com/gpu: "1"
      env:
      - name: STORAGE_URI
        value: "s3://model-storage/predictive-analytics/"
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_ACCESS_KEY_ID
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_SECRET_ACCESS_KEY
      - name: AWS_S3_ENDPOINT
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_S3_ENDPOINT
      - name: AWS_DEFAULT_REGION
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_DEFAULT_REGION
      - name: AWS_SSL_VERIFY
        valueFrom:
          secretKeyRef:
            name: model-storage-config
            key: AWS_SSL_VERIFY
---
apiVersion: v1
kind: Service
metadata:
  name: model-serving-metrics
  labels:
    app.kubernetes.io/component: model-serving
spec:
  selector:
    serving.kserve.io/inferenceservice: anomaly-detector
  ports:
  - name: metrics
    port: 8080
    targetPort: 8080
  type: ClusterIP
