---
# Tekton Git credentials secret
# Required for Tekton Pipeline git-clone task
apiVersion: v1
kind: Secret
metadata:
  name: github-pat-credentials-tekton
  namespace: {{ notebooks_namespace }}
  annotations:
    tekton.dev/git-0: {{ notebooks_git_url | regex_replace('^https?://([^/]+)/.*$', 'https://\\1') }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ notebooks_git_username }}
  password: {{ notebooks_git_token }}
  .git-credentials: "{{ notebooks_git_url | regex_replace('^(https?://)', '\\1' + notebooks_git_username + ':' + notebooks_git_token + '@') | regex_replace('/[^/]+/[^/]+\\.git$', '') }}"
  .gitconfig: |
    [credential "{{ notebooks_git_url | regex_replace('^https?://([^/]+)/.*$', 'https://\\1') }}"]
      helper = store
